<%- layout("/layouts/boilerplate.ejs") %>

<h1 class="mt-3">Product Details:</h1>
<div class="row col-8 offset-2">
    <img src="<%= listing.image %>" alt="">
    <br>
    <hr>
    <h1><%= listing.name %></h1>
    <h2>$<%= listing.price %></h2>
    <br>
    <h2><%= listing.description %></h2>
    <hr>
    <div class="show-btns col-6 offset-3">
    <form method="get" action="/listings/<%= listing._id %>/edit">
        <button class="btn btn-success">Update</button>
    </form>
    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
</div>
